<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="https://unpkg.com/vue@next"></script>
    <title>SmartPlant</title>
</head>

<body>
    <div id="app">

        <!-- Header -->
        <div class="header">
            <h2>SMARTPLANT<img src="icons8-plant-48.png" alt="logo"></h2>
            <p>The essential tool for every plant owner.</p>
        </div>

        <!-- Navbar -->
        <div class="topnav">
            <a href="#">Home</a>
            <a href="../test/index.html">Data overview</a>
        </div>


        
        

        <!-- Column setup -->
        <!-- Left Column -->
        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                    <h2>Posts</h2>
                    <h5 style="color: gray">All the posts in the Database</h5>
                    <hr style="color: #C3EDC0;">
                    <div class="contentbox" style="height:480px;">
                        <div class="scroll">
                            <ol v-if="posts.length > 0">
                                <li v-for="post in posts" style="color: gray; text-align: center;">
                                    ({{ post.createdTime }})  Temperature: {{ post.temperature }} Humidty: {{ post.humidity }}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <br>
                    <button @click="getPosts" class="button">Load Posts</button>
                    <button @click="clearList" class="button">Clear Posts</button>
                </div>
            </div>


            <div class="rightcolumn">
                <div class="card">
                    <h2>Weather Data</h2>
                    <h5 style="color: gray">Local Temperature, Humidity and UV-Index</h5>
                    <hr style="color: #c3edc0">
                    <div class="contentbox" style="height: 200px;">                   
                        <div v-if="weather" style="color: gray">
                            <h3>
                                Temperature: {{airTemperature}}°C.<br><br>
                                Humidity: {{relativeHumidity}}%.<br><br>
                                UV-Index: {{uvIndexClearSky}}. 
                            </h3>
                        </div>                    
                    </div>
                </div>
            </div>

            <!-- Right Column -->
            <div class="rightcolumn">
                <div class="card">
                    <h2>Post By Id</h2>
                    <h5 style="color: gray">Choose a post to look at</h5>
                    <hr style="color: #c3edc0;">
                    <div class="contentbox" style="height:80px;" v-if="error" style="color: red">{{ error }}</div>
                    <div class="contentbox" style="height:100px;">
                        <div v-if="post" style="color: gray">
                            <h3>{{post.id}}: {{post.title}}</h3>
                        </div>
                    </div>
                    <br>
                    <input v-model.number="postId" placeholder="Post Id" type="number">
                    <button @click="getPostById(postId)" class="button">Get by id</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div class="footer">
        <h3>SMARTPLANT©<img src="icons8-plant-48.png" alt="logo"></h3>
        <h6><a target="_blank" href="https://icons8.com/icon/mboxki6Nw4Mw/plant">Plant</a> icon by <a target="_blank"
                href="https://icons8.com">Icons8</a></h6>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js" crossorigin="anonymous"></script>
    <script src="../Javascript/index.js"></script>
</body>

</html>
