################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartPlantApi/SmartPlantData/Secret.cs
